<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :tag_list, hint: '最多5个,请使用,(半角)分割,如:数码,手机' %>
    <%= f.input :body,as: :kindeditor %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
