<% content_for :header do -%>
  <%= render "head_with_share",post:@post %>
<% end -%>
<div class="entry-content typo">
  <%= raw @post.body %>
</div>
<footer>
<%= render "posts/comments",post:@post %>
<p class="meta neighbor clearfix">
<%= link_to '« ' + @post.prev.to_s,@post.prev.to_permalink,class: 'float-l',title:@post.prev if @post.prev %>
<%= link_to @post.next.to_s + ' »',@post.next.to_permalink,class: 'float-r',title:@post.next if @post.next %>
</p>
</footer>
